<h2>
    Leader board
</h2>
<mat-list role="list">
	<mat-list-item role="listitem" *ngFor="let winner of winners.async() | async">
        <mat-label>
            {{winner.winner}}
        </mat-label> 
        <mat-label>
            {{winner.date}}
        </mat-label> 
    </mat-list-item>
</mat-list>