@import 'index.scss';

:host {
    @include flex-row;
    height: calc(50vw - 160px);
    width: calc(50vw - 160px);
    flex-wrap: wrap;
    border: 1px solid gray;

    .cell {
        background-color: white;
        border: 1px solid gray;
    }
}